* {
	box-sizing: border-box;
}

h1 {
	font-weight: bold;
	color: black;
}

body {
	background-color: white;
}

p {
	padding: 10px;
	margin: 0;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

section {
	border: 5px solid black;
	background-color: grey;
	width: 100%;
	height: auto;
	font-family: Helvetica;
	color: black;
	position: relative;
	overflow: auto;
}

#chicken {
	border: 5px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: -5px;
	padding: 5px;
	background-color: red;
}

#beef {
	border: 5px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: -5px;
	padding: 5px;
	background-color: orange;
}

#sushi {
	border: 5px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: -5px;
	background-color: yellow;
	padding: 5px;
}

#chicken-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#beef-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#sushi-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #FFFFFF;
}

#header-nav {
  border: 0;
  background-color: #0062FA;
  color: #FFFFFF;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 5px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-header {
  background-color: #FFFFFF;
}

.nav-brand {
  color: #FFFFFF;
  font-size: 1.5em;
}

#nav-list {
  color: white;
}

hr {
  border-color: white;
}

.item1 {
  font-weight: bold;
  color: red;
  font-size: 1.2em;
}
.item2 {
  font-weight: bold;
  color: orange;
  font-size: 1.2em;
}
.item3 {
  font-weight: bold;
  color: yellow;
  font-size: 1.2em;
}
.icon-bar{
	border-color: white;
}
